body{
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}
.card{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
  transition: 0.2s;

}
.card:hover{
  box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.1);
  transform: scale(1.02);

}
.card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}
#adani .card-head{
  background: -webkit-linear-gradient(0deg, #0b74b0, #75479c,#bd3861); 
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}