nav ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 40%);
    padding: 0;
    margin: 0px;
    overflow: hidden;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
    text-align: center;
}
nav li{
    float: left;
}
nav a:hover{
    background-color: hsl(0, 0%, 35%);
    transition: 25ms;
    cursor: pointer;
}
