nav ul {
    list-style-type: none;
    background-color: #444;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
    display: block;
    text-align: center;
    transition: background-color 0.2s ease, transform 0.1s ease;
  }
  
  nav a:hover {
    background-color: #333;
    transform: scale(1.05);
    cursor: pointer;
    text-shadow: 0px 0px 10px;
  }
  nav  li{
    float: left;
  }